html body {
  font-family: roboto !important;
}

.ml-6 {
  margin-left: 5rem;
}

.ml-7 {
  margin-left: 10rem;
}

.ml-8 {
  margin-left: 15rem;
}

.ml-9 {
  margin-left: 20rem;
}

.mt-6 {
  margin-top: 5rem;
}

.mt-7 {
  margin-top: 10rem;
}

.mt-8 {
  margin-top: 15rem;
}

.mt-9 {
  margin-top: 20rem;
}

.mt-10 {
  margin-top: 25rem;
}

.mt-11 {
  margin-top: 28rem;
}

.pr-6 {
  padding-right: 5rem;
}

.p-6 {
  padding: 5rem;
}

.p-7 {
  padding: 10rem;
}

.pb-6 {
  padding-bottom: 5rem;
}

.pb-7 {
  padding-bottom: 10rem;
}

.pb-8 {
  padding-bottom: 15rem;
}

.relative {
  position: relative;
}

.bg-main {
  background-color: #FFEDF7;
}

.bg-assist {
  background-color: #003164;
}

.bg-third {
  background-color: #FF4384;
}

.bg-breakBlue {
  background-color: #E5F3FF;
}

.bg-breakDeepblue {
  background-color: #00A7FF;
}

.text-third {
  color: #FF4384;
}

.text-assist {
  color: #003164;
}

.text-breakDeepblue {
  color: #00A7FF;
}

.text-breakBlue {
  color: #E5F3FF;
}

.breakPlaceholder::-webkit-input-placeholder {
  color: #00A7FF;
}

.breakPlaceholder:-ms-input-placeholder {
  color: #00A7FF;
}

.breakPlaceholder::-ms-input-placeholder {
  color: #00A7FF;
}

.breakPlaceholder::placeholder {
  color: #00A7FF;
}

.workColor {
  stroke: #FF4384;
}

.breakColor {
  stroke: #00A7FF;
}

::-webkit-input-placeholder {
  font-weight: bold;
  color: #FF4384;
  font-style: italic;
}

:-ms-input-placeholder {
  font-weight: bold;
  color: #FF4384;
  font-style: italic;
}

::-ms-input-placeholder {
  font-weight: bold;
  color: #FF4384;
  font-style: italic;
}

::placeholder {
  font-weight: bold;
  color: #FF4384;
  font-style: italic;
}

.pointer:hover {
  cursor: pointer;
}

.todoing-circle {
  width: 3rem;
  height: 3rem;
  border: 2px solid #003164;
}

.todoing-circle:hover {
  -webkit-box-shadow: 1px 3px 3px #003164;
          box-shadow: 1px 3px 3px #003164;
}

.circle-timer {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #FF4384 !important;
}

.circle-timer-finish {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #003164 !important;
  background-color: #003164 !important;
}

.timer {
  font-weight: bolder;
  font-size: 10rem;
}

.willtodo-circle {
  width: 2rem;
  height: 2rem;
  border: 2px solid #003164;
}

.willtodo-circle:hover {
  -webkit-box-shadow: 1px 2px 2px #003164;
          box-shadow: 1px 2px 2px #003164;
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.outercircleBorder {
  border: 4px solid #FF4384 !important;
}

.outercircleBorder-break {
  border: 4px solid #00A7FF !important;
}

.second-circle-border {
  border: 3px solid #FF4384 !important;
}

.second-circle-border-break {
  background-color: #00A7FF;
  border: 3px solid #00A7FF !important;
}

.cancel {
  width: 0.8rem;
  height: 0.8rem;
}

.cancel:hover {
  width: 1rem;
  height: 1rem;
}

.play-circle {
  width: 6rem;
  height: 6rem;
}

.play-circle:hover {
  width: 7rem;
  height: 7rem;
}

.plus:hover {
  color: blue;
}

.more-hover {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.more-hover:hover {
  color: green !important;
}

.completed {
  text-decoration: line-through;
}
/*# sourceMappingURL=all.css.map */