//新增顏色變數
$mainColor: #FFEDF7;
$assistColor: #003164;
$thirdColor: #FF4384;
$breakBlue: #E5F3FF;
$breakDeepblue: #00A7FF;

//背景顏色新增
.bg-main{
    background-color: $mainColor;
};

.bg-assist{
    background-color: $assistColor;
};

.bg-third{
    background-color: $thirdColor;
};

.bg-breakBlue{
    background-color: $breakBlue;
}

.bg-breakDeepblue{
    background-color: $breakDeepblue;
}

//文字顏色新增
.text-third{
    color: $thirdColor;
}


.text-assist{
    color: $assistColor;
}

.text-breakDeepblue{
    color: $breakDeepblue;
}

.text-breakBlue{
    color: $breakBlue;
}

//placeholder break 顏色
.breakPlaceholder::placeholder{
    color: $breakDeepblue;
}

//progressBar 根據狀態變色
.workColor{
    stroke: #FF4384;
}

.breakColor{
    stroke: #00A7FF;
}
