//input 待辦 placeholder顏色與文字設計
::placeholder{
    font-weight: bold;
    color: $thirdColor;
    font-style: italic;
};


//hover 出現可點擊游標
.pointer:hover{
    cursor: pointer;
}

//正在進行的工作可勾選圓圈
.todoing-circle{
    width: 3rem;
    height: 3rem;
    border: 2px solid $assistColor;
    &:hover{
        box-shadow: 1px 3px 3px $assistColor;
    }
}

//正在進行工作動畫表示經過時間的圓圈
.circle-timer{
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid $thirdColor !important;
}

.circle-timer-finish{
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid $assistColor !important;
    background-color: $assistColor !important;
}

//正在進行工作的計時器
.timer{
    font-weight: bolder;
    font-size: 10rem;
}

//待辦清單內的可勾選小圓圈
.willtodo-circle{
    width: 2rem;
    height: 2rem;
    border: 2px solid $assistColor ;
    &:hover{
        box-shadow: 1px 2px 2px $assistColor;
    }
}

.willtodo-circle-detail{
    width: 2rem;
    height: 2rem;
    border: 2px solid white ;
    &:hover{
        box-shadow: 1px 2px 2px white;
    }
}

//字體旋轉90度
.rotate-90{
    transform: rotate(90deg);
}

//中間大圓圈邊框
.outercircleBorder{
    border: 4px solid $thirdColor !important;
}

.outercircleBorder-break{
    border: 4px solid $breakDeepblue !important;
}


//第二大圓圈邊框
.second-circle-border{
    border: 3px solid $thirdColor !important;
}

.second-circle-border-break{
    background-color: $breakDeepblue ;
    border: 3px solid $breakDeepblue !important;
}

//取消小方塊
.cancel{
    width: 0.8rem;
    height: 0.8rem;
    &:hover{
        width: 1rem;
        height: 1rem;
    }
}

//中心白色撥放圓圈效果
.play-circle{
    width: 6rem;
    height: 6rem;
    &:hover{
        width: 7rem;
        height: 7rem;
    }
}

// input 加號 hover 動畫
.plus:hover{
    color: blue;
}

//為more按鈕新增hover回饋
.more-hover{
    transition: all 1s;
    &:hover{
        color: green !important;
    };
    
}

//待辦完成畫線
.completed{
    text-decoration: line-through;
}



//移除ul預設樣式
.removeulDisplay{
    list-style-type: none;
}

//todolist 收起功能(搭配jQuery)
.todoStorage{
    background-color: hsla(0,0%,100%,.2);
}

.todoStorage-done{
    background-color: hsla(0,0%,100%,.2);
}

//todolist 收合展開效果
.todoshowStyle{
    border-bottom: rgba(255,255,255,0.7) 1px solid ;
}


//半圓小計時器
.semi-circle{
    width: 350px;
    border-radius: 350px 350px 0 0;
    height: 175px;
    background-color: $mainColor;
}

//半圓播放器設定
.semiPlay{
    width: 6rem;
    height: 6rem;
}

//半圓播放器邊框
.semiplayBorder{
    border:6px solid #003164; 
    position: absolute;
    top: -3rem; 
    left: 7rem;
}

//關閉頁面按鈕設計
.closePage{
    position: absolute;
    top: 3rem;
    right: 5rem;
}

//左側選項hover效果
.optionbgChange{
    &:hover{
        color: $thirdColor;
    }
}

//功能頁面小標題背景
.titleBg{
    background-color: hsla(0,0%,100%,.2);
}