//input 待辦 placeholder顏色與文字設計
::placeholder{
    font-weight: bold;
    color: $thirdColor;
    font-style: italic;
};


//hover 出現可點擊游標
.pointer:hover{
    cursor: pointer;
}

//正在進行的工作可勾選圓圈
.todoing-circle{
    width: 3rem;
    height: 3rem;
    border: 2px solid $assistColor !important;
    &:hover{
        box-shadow: 1px 3px 3px $assistColor;
    }
}

//正在進行工作動畫表示經過時間的圓圈
.circle-timer{
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid $thirdColor !important;
}

//正在進行工作的計時器
.timer{
    font-weight: bolder;
    font-size: 10rem;
}

//待辦清單內的可勾選小圓圈
.willtodo-circle{
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $assistColor !important;
    &:hover{
        box-shadow: 1px 2px 2px $assistColor;
    }
}

//字體旋轉90度
.rotate{
    transform: rotate(90deg);
}

//中間大圓圈邊框
.main-circle-border{
    width: 35rem;
    height: 35rem;
    border: 4px solid $thirdColor !important;
}

//第二大圓圈邊框
.second-circle-border{
    border: 3px solid $thirdColor !important;
}

//取消小方塊
.cancel{
    width: 0.8rem;
    height: 0.8rem;
    &:hover{
        width: 1rem;
        height: 1rem;
    }
}

//中心白色撥放圓圈效果
.play-circle{
    width: 6rem;
    height: 6rem;
    &:hover{
        width: 7rem;
        height: 7rem;
    }
}

// input 加號 hover 動畫
.plus:hover{
    color: blue;
}

//為more按鈕新增hover回饋
.more-hover{
    transition: all 1s;
    &:hover{
        color: blue !important;
    }
    
}